body{
  display: block;
  background: none;
  text-align: center;
  width: 90%;
  float: left;

}

section {
  width: ;
  float: left;
}

aside {
  width: ;
 }

h1{
  font: normal 2.0em Geneva,Arial,Helvatica, sans-serif;
  background: none);
  width: 100%;
  text-align: center;

}

.container {
position: relative;
left: 10%;
width: 70%;
  text-align: justify;
}
#bravos{
  background: aqua;

}
#cardenales{
  background: red;
}
#aguilas{
  background: orange;
}

#navegantes{
  background: #000080;
}
#leones{
  background: white;
}
#tigres{
  background: beige;
}
#tiburones{
  background: #000080;
  text-decoration-color: black;
}
#caribes{
  background: #E36429;
}

footer {
clear:both;
text-align:center;
padding-top:100px;
font:1.2em Georgia, "Times New Roman", Times, serif;
color:#999999;
margin:10px 8px;

}

  #video {
clear: both;
display: block;
text-align: center;
width:520px;
height:520px;
}
