<div class="container - fluid animated fadeIn fast "></div>
<section id="mascotas1"> <div class="container">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <h1>Conozca las Mascotas de los equipos del beìsbol Venezolano</h1>
                <img src="assets/img/mascotas1.jpg" class="img-responsive m-b-md m-t-sm center-block">
                <p>¿Conoces a la mascota de tu equipo? AGUI, GUARITO, CAPY, LEO, TIGRE, TIBU, CARIBITO y BRAVÍN son los ocho amigos que mantienen entretenida a la fanaticada y animan a los deportistas.Los momentos estelares de estos personajes llegan de la mano con los juegos de la Liga Venezolana de Béisbol Profesional (LVBP). Te presentamos a  las mascotas que se roban el show de los peloteros cada temporada con su disfraz,piruetas y bailes.</p>
           </article>
            <hr>
        </div>
       </div>
     </div>
     </section><br><br>

  <section id="bravos"> <div class="container">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <h2>Roster Bravin</h2>
                <h3>Bravín y Bravín Jr.: Las mascotas más simpáticas de la LVBP</h3>
                <img src="assets/img/mascotabravos.jpg" class="img-responsive m-b-md m-t-sm center-block">
                <p>Cuando los Bravos de Margarita irrumpieron en el concierto del beisbol profesional venezolano, lo hicieron con la filosofía de mostrar todos los adelantos que estuvieran a su alcance en materia de espectáculos.</p>
                <p>Así surgieron las ideas de un estadio confortable y moderno, la estupenda feria de comida y una grandiosa pizarra electrónica.</p>
                <p>Junto a esas fecundas ideas se alzó una que estaba dirigida a agregarle un extra a la emoción que de por sí depara lo que sucede en el terreno. Algo que de paso relajara un poco esa tensión propia que envuelve al fanático cuando disfruta del juego de pelota. Y así fue concebido Bravín, la mascota de los Bravos.</p>
                <p>Motivador nato, buen bailarín y poseedor de una mímica suprema y superlativa capacidad de improvisación. No es raro ver a Bravín lanzarse en soga rápida desde lo alto de la tribuna hasta el montículo, cuando las ocasiones especiales lo demandan. Tampoco extraña verlo patrullar en moto y hacer peripecias mientras conduce. Y ya el público se ha acostumbrado a aplaudirle a rabiar cuando se presenta trajeado como el más ácido de los cantantes de rock.</p>
                <p>Sin decir una palabra, Bravín lo hace todo. Sus movimientos son lenguaje universal, que establece una correspondencia bien cerrada y dinámica con el público.</p>
                <p>Desde hace dos años, Bravín no está solo, pues actúa junto a su retoño: Bravín Jr.  Al igual que su progenitor, sabe ponerle salsa y picante a los entreinnings, con habilidades que complementan muy bien las suertes ejecutadas por su padre.</p>
                <p>Travieso, como todo chiquillo, sabe arrancar risas y aplausos con inédita facilidad. Una virtud bien heredada por quien supo concebir a ese digno heredero.</p>
                <p>La pareja integrada por Bravín y Bravín Jr., está lista para montarse nuevamente bien arriba del potro de los .300 puntos, como lo ha hecho desde el momento en el cual pisó por primera vez el terreno.</p>
            </article>
            <hr>
        </div>
       </div>
     </div>
     </section><br><br>
      <section id="cardenales"> <div class="container">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <h2>Guarito, la mascota de los Cardenales de Lara</h2>
                <img src="assets/img/guarito.jpg" class="img-responsive m-b-md m-t-sm center-block">
                <p>Es la mascota del equipo Cardenales de Lara, posee un cuerpo redondeado y ojos grandes. Fue diseñado por el publicista Manuel Hernández. Tiene cierto parentesco con la mascota de los Cardenales de San Luis, la divisa de las Grandes Ligas. De hecho, el nombre del equipo larense está inspirado en el conjunto norteamericano.</p>
           </article>
            <hr>
        </div>
       </div>
     </div>
     </section><br><br>
     <section id="aguilas"> <div class="container">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <h2>Agui, la mascota de las Aguilas del Zulia </h2>
                <img src="assets/img/agui.jpg" class="img-responsive m-b-md m-t-sm center-block">
                <p>Es la mascota del equipo Águilas del Zulia y es considerado uno de los personajes más famosos de la LVBP por el carisma y sentido del humor que lo caracterizan. Su existencia forma parte de una tradición regional que suele asociar la zulianidad al porte orgulloso de las aves rapaces. La sede de la gobernación el Palacio de las Águilas y la cerveza Zulia tiene un dibujo de esta especie en su logo.</p>
           </article>
            <hr>
        </div>
       </div>
     </div>
     </section><br><br>

     <section id="navegantes"> <div class="container">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <h2 style="color: white">Capy, la mascota de los Navegantes del Magallanes</h2>
                <img src="assets/img/capy.jpg" class="img-responsive m-b-md m-t-sm center-block">
                <p style="color:white"> El equipo Navegantes del Magallanes tienen por mascota un loro con sombrero pirata, llamado Capy. A diferencia de sus colegas emplumados, Capy no tiene la firma de Manuel Hernández, sino la de Martín Osechas, propietario de una agencia de festejos. Consciente de la prioridad que tienen los duelos entre magallaneros y caraquistas, las bromas de Capy suelen hacer alusión a los felinos.</p>
           </article>
            <hr>
        </div>
       </div>
     </div>
     </section><br><br>

     <section id="leones"> <div class="container">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <h2>Leo, la mascota de los Leones del Caracas</h2>
                <img src="assets/img/leo.jpg" class="img-responsive m-b-md m-t-sm center-block">
                <p>Leo es un león de melena corta, como de peluche, postura bípeda, ojos azules y expresión confiada. Es la mascota del equipo Leones del Caracas y fue creado por Martín Osechas. Al igual que Agui, se trata de un personaje que encaja con la simbología de su terruño, pues el símbolo del león ha sido vinculado a la ciudad desde sus mismos orígenes.</p>
           </article>
            <hr>
        </div>
       </div>
     </div>
     </section><br><br>
      <section id="tigres"> <div class="container">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <h2>Tigre, la mascota de los tigres de Aragua</h2>
                <img src="assets/img/tigre.jpg" class="img-responsive m-b-md m-t-sm center-block">
                <p>Sin nombre propio ni apelaciones cariñosas. Es El Tigre, a secas. Así es como se conoce a la mascota que defiende el béisbol aragüeño en cada duelo celebrado en el estadio José Pérez Colmenares de Maracay. No necesita un nombre, pues ya es un personaje muy conocido por sus presencias constantes en las finales de la LVBP.</p>
           </article>
            <hr>
        </div>
       </div>
     </div>
     </section><br><br>
     <section id="tiburones"> <div class="container">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <h2 style="color: white">Tibu, la mascota de los tiburones de La Guaira</h2>
                <img src="assets/img/tibu.jpg" class="img-responsive m-b-md m-t-sm center-block">
                <p style="color:white">Si hay una mascota que no admite comparación, esa es Tibu. Ningún otro personaje viene del mar, lo que dificulta establecer afinidades entre este escualo y las demás mascotas, más allá de ser otra creación de Osechas. Su motivación resulta valiosa para una fanaticada que no disfruta de un título desde los ochenta.</p>
           </article>
            <hr>
        </div>
       </div>
     </div>
     </section><br><br>
     <section id="caribes"> <div class="container">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <h2>Caribito, la mascota de los Caribes de Anzoategui</h2>
                <img src="assets/img/caribito.jpg" class="img-responsive m-b-md m-t-sm center-block">
                <p>  La mascota de la divisa anzoatiguense es Caribito y tiene la piel pálida, inmune al sol del oriente venezolano, pupilas de profundo negro y sonrisa amplia imperturbable. Además, posee un cuerpo rechoncho que le da un aire jocoso a su apariencia.</p>
           </article>
            <hr>
        </div>
       </div>
     </div>
     </section><br><br>
     <footer>
      <h2> Disfruta de las mascotas del Beisbol Profesional</h2>
        <video poster="assets/img/mascotas1.jpg" autobuffer controls preload="auto" width="520">
        <source src="videos/mascotas.mp4">
        <source src="assets/videos/mascotas.ogg">
      </video><br><br><br>

<a href="index.html">Ir a la Pagina Principal</a><br><br><br><br>
<div class="cuerpo">
  </div>
  </footer>

